$bg-lemon: rgb(37, 161, 114);
$bg-light: #faf8f8;
$bg-blue: rgb(90, 90, 207);
$bg-red: red;
$bg-dark: rgb(124, 123, 123);
$bg-midnightblue: rgb(0, 132, 255);
$padding-x: 0.7rem;
$padding-y: 1rem;
$bg-white: #fff;
$line-height: 1.5;
$p-font-size: 1.4rem;
$header-font-size: 3rem;
$font-weight-light: 400;
